<% include head %>
<% include menu %>


<% include slider %>


<section id="blockContact" style='padding:6rem 0;'>
   <form class="contact-form"  method ="POST" action="/contact">
            <div class="form-members">
                <h2><%= H1title %></h2>
                
                <div class="contact-champs ">
                    <label for="">Nom</label>
                    <input type="text" id="nom" name="nom" placeholder="Nom" value="Kulathelagapillaiiiii" required>
                    <span id='missing_nom'></span>
                </div>

                <div class="contact-champs ">
                        <label for="">Prénomom</label>
                        <input type="text" id="prenom" name="prenom" placeholder="Prenom" value="Jega" required>
                    </div>

                    <div class="contact-champs ">
                            <label for="">Date de Naissance</label>
                            <input type="date" id="dateBirth" name="dateBirth" placeholder="" value="" required>
                        </div>

                <div class="contact-champs">
                    <label for="telephone">Télephone</label>
                    <input type="text" id="tel" name="tel" placeholder="Télephone" value="12345678 required>
                </div>

                <div class="contact-champs">
                    <label for="mail">Email</label>
                    <input type="email" id="mail" name="email" placeholder="mail" value="jj@gmail.com" required>
                </div>

                <div class="contact-champs">
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" name="adresse" placeholder="Adresse" value="12 rue de la gare" required>
                </div>
                
                <div class="contact-champs">
                        <label for="ville">Ville</label>
                        <input type="text" id="tel" name="ville" placeholder="ville" value="PARIS" required>
                    </div>


                <div class="contact-champs">
                    <label for="Votre message">code postal</label>
                    <input type="text" id="message" name="message" placeholder="code postal" value="75002" required>
                </div>

              
                <input class="btn-contact" type="submit" id="submitBtn" name="submitBtn" value="Envoyer">
            </div>
        </form>
    </div><!--END CONTACT FORM BIG-->


</section>

<script>
function surligne(champ, erreur)
{
   if(erreur)
      champ.style.backgroundColor = "#fba";
   else
      champ.style.backgroundColor = "";
}

function verifPseudo(champ)
{
   if(champ.value.length < 2 || champ.value.length > 25)
   {
      surligne(champ, true);
      return false;
   }
   else
   {
      surligne(champ, false);
      return true;
   }
}

function verifMail(champ)
{
   var regex = /^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/;
   if(!regex.test(champ.value))
   {
      surligne(champ, true);
      return false;
   }
   else
   {
      surligne(champ, false);
      return true;
   }
}
</script>



<% include footer %>