<footer>
    <div class = 'reseau'>

    </div>
<div class="footerCap">
        <div class="footerFirst fooboo">
            <h3>COMPANY NAME</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="footerSecond fooboo" >
            <h3>USEFUL LINKS</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="footerThird fooboo">
            <h3>CONTACT</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class = 'copy-right'>
        <h4>copy right</h4>
    </div>
</footer>

<script src="/js/init.js"></script>
<script src="/js/app.js"></script>

</body>

</html>