
<header>
    <div class ="logo">LOGO</div>
    <nav>
        
            <ul>
                <li  class="active"><a href="/">Accueil </a></li>
                <li><a href="huguesCap">Hugues Capet</a></li>
                <li><a href="philippeAuguste">Philippe Auguste</a></li>
                <li><a href="louis">Louis IX</a></li>
                <li><a href="philippeBel">Philippe le Bel</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        
    </nav>
    <div class ="menu-toggle"><i class="fa fa-bars"></i></div>
    
</header>
