<style>
      .parallaxCap{
          background-image:url(<%= parallaxImg %>);
      }
</style>
 

<section id = "blockSlider1">
        <div class="parallaxCap">
            <h1><%= H1title %></h1>           
      </div>              

</section>
