<% include head %>
<% include menu %>
<% include parallax %>



            <article id="philippeAuguste">
                <h1></h1>
                <img class="phiPhoto" src="image/Philippe-1er_Vig.jpg" alt="">
                <p>
                    Philippe Auguste a comme objectif principal l'abaissement des Plantagenêt. Grâce à la mort de
                    Richard Cœur de
                    Lion le 6 avril 1199 lors du siège du château de Châlus, il fait la conquête entre 1202 et 1205 de
                    la Normandie,
                    du Maine, de l'Anjou, de la Touraine, du Nord du Poitou et de la Saintonge sur Jean sans Terre. En
                    1214, la
                    victoire de Bouvines sur l'empereur du Saint-Empire et le comte de Flandre alliés au souverain
                    anglais fait de
                    Philippe Auguste le seigneur le plus puissant de tout le royaume et peut-être même d'Europe. Sur la
                    route de
                    Bouvines à Paris, la population salua vivement le roi vainqueur et Paris lui fit un accueil digne
                    des triomphes
                    de la Rome antique. C'est la première expression de « sentiment national » en France. À la suite de
                    ses triomphes
                    et de ses gains de territoires, Philippe II hérite du surnom romain d'Auguste, c'est désormais
                    Philippe Auguste.
                    Son fils Louis VIII continue à agrandir le domaine royal en soumettant l'ensemble du Poitou de la
                    Saintonge et
                    une partie du Languedoc pris aux Cathares. Sous Louis IX, le Languedoc est définitivement annexé au
                    royaume.
                    Sur le plan intérieur, Philippe Auguste collecte plus soigneusement les revenus du domaine royal. Il
                    charge des
                    fonctionnaires royaux, les baillis, d'administrer le domaine royal dans des circonscriptions
                    appelées bailliages.
                    ...
                <span id="more">Il vend des privilèges aux communes et aux métiers comme
                        la guilde des marchands de l'eau à Paris. Ces ressources
                        lui permettent de rétribuer des mercenaires et de construire
                        des forteresses comme celle de Gisors. Il fait
                        construire des nouveaux remparts autour de Paris, paver la ville et édifier la forteresse du
                        palais du Louvre
                        à l'extérieur de la ville où sont conservées les archives royales.
                        48 à 1254, pour combattre les musulmans
                        en Égypte où il est fait prisonnier puis entreprend d'améliorer la défense
                        des États latins d'Orient. La seconde fois, induit en erreur par son frère Charles d'Anjou, il
                        fait le siège de Tunis où
                        il meurt d'une épidémie dite de peste (et en réalité de dysenterie) en 127048 à 1254, pour
                        combattre les musulmans en Égypte où il est fait prisonnier puis entreprend d'améliorer la
                        défense
                        des États latins d'Orient. La seconde fois, induit en erreur par son frère Charles d'Anjou, il
                        fait le siège de Tunis où
                        il meurt d'une épidémie dite de peste (et en réalité de dysenterie) en 127048 à 1254, pour
                        combattre les musulmans en Égypte où il est fait prisonnier puis entreprend d'améliorer la
                        défense
                        des États latins d'Orient. La seconde fois, induit en erreur par son frère Charles d'Anjou, il
                        fait le siège de Tunis où
                        il meurt d'une épidémie dite de peste (et en réalité de dysenterie) en 1270

                    </span></p>
                <div class="butP">
                    <button onclick="myFunction()" id="myBtn">Read more</button>
                </div>
                </article>

                <% include footer %>
                      