
<section>
<div class="slideshow">
       
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img class="imgSize" src="image/123.jpg" alt="">
      <!-- <div style="width:100%;background-color: yellow;height: 550px;"> </div> -->
        <div class="text">Caption Text</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img class="imgSize" src="image/louis3.jpg" alt="">
  <!--  <div style="width:100%;background-color: black;height:550px; "> </div> -->
        <div class="text">Caption Two</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img class="imgSize" src="image/phillipAugust1.jpg" alt="">
    <!-- <div style="width:100%;background-color: blue; height: 550px;"> </div> -->
        <div class="text">Caption Three</div>
      </div>
    
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>



<br>

<div style="text-align:center">
  <span class="dotSlider" onclick="currentSlide(1)"></span> 
  <span class="dotSlider" onclick="currentSlide(2)"></span> 
  <span class="dotSlider" onclick="currentSlide(3)"></span> 
</div>

</section>


<script type="text/javascript">
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dotsSlider = document.getElementsByClassName("dotSlider");
    if (n > slides.length) {slideIndex = 1} 
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
    }
    for (i = 0; i < dotsSlider.length; i++) {
        dotsSlider[i].className = dotsSlider[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block"; 
    dotsSlider[slideIndex-1].className += " active";
  }







  var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1} 
    slides[slideIndex-1].style.display = "block"; 
    setTimeout(showSlides, 5000); // Change image every 2 seconds
}
  </script>



